<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>Sliders Master Page</title>
</head>

<body>

    {{>admin_user/navbar details=details}}


    <div class="container mt-5 ">
        <div class="card">
            <div class="card-header text-center p-3">
                <a class="btn btn-primary" href="/admin_user/sliders_master_add">Add</a>
                {{!-- <a class="btn btn-primary" href="/process_login_form">Back to Admin Home Page</a> --}}

            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SR. No.</th>
                            <th scope="col">Title</th>
                            <th scope="col">Sub-Title</th>
                            <th scope="col">Image URL</th>
                            <th scope="col">Modify</th>
                            <th scope="col">Delete</th>

                        </tr>
                    </thead>
                    <tbody>

                        {{#each sliders}}
                        <tr>
                            <td>{{@index}}</td>
                            <td>{{this.title}}</td>
                            <td>{{this.subTitle}}</td>
                            <td>{{this.imgUrl}}</td>
                            <td><a class="btn btn-secondary"
                                    href="/admin_user/sliders_master_modify/{{this._id}}">Modify</a></td>
            </div>


            <td> <a class="btn btn-danger" href="/admin_user/sliders_master_delete/{{this._id}}">Delete</a></td>


            </tr>
            {{/each}}


            </tbody>
            </table>

        </div>

    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>